<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.ComposeReview">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ComposeReview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".lifecycle.LifecycleDemoActivity"
            android:exported="false"
            android:theme="@style/Theme.ComposeReview.Lifecycle" />

        <!--
             exported="false": só este próprio app pode acessar o
             provider. Para de fato compartilhar dados com OUTROS apps,
             bastaria exported="true" mais permissões (readPermission /
             writePermission) definidas aqui.
        -->
        <provider
            android:name=".data.NotesProvider"
            android:authorities="com.pedro.composereview.provider"
            android:exported="false" />

    </application>

</manifest>
